.custom-Carousel-Item > img {
}
.custom-Carouselcaption-Item > h3 {
  font-size: 1.5vmax;
}
.custom-Carouselcaption-Item > p {
  font-size: 1vmax;
}
.custom-Carouselcaption-Item > a {
  font-size: 1vmax;
}
